h1  {
  font-size:65px;  
  color:pink;
}

div.container {
  
  width: 100%;
  margin-bottom: 0px;
  
}

footer {
  
  padding: 1em;
  background: black;
  position: fixed;
  color: white;
  margin-bottom: 0px;
  
}

img {
  width: 300px;
  padding: 20px;
}
