body {
  font-family: 'Indie Flower';
  margin-bottom: 50px;
}

h1  {
  font-size:65px;  
  color:pink;
}

div {
  margin: 20px 20px;
}

#header, #footer {
  background: black;
  color: white;
  position: fixed; 
  right: 0px; 
  left: 0px; 
  padding: 15px;
}

#header {
  top: 0px;
  margin-top: 0px;
}

#footer {
  bottom: 0px;
  margin-bottom: 0px;
}

img {
  width: 300px;
  padding: 20px;
  position: absolute;
}

img#i1 {
  margin: 100px 50px;
}

img#i2 {
  margin: -10px 350px;
}

img#i3 {
  margin: 70px 700px;
}

img#i4 {
  margin: 120px 1050px;
}
