body {
  margin-bottom: 50px;
}

h1  {
  font-size:65px;  
  color:pink;
}

div {
  margin: 20px 20px;
}

#footer {
  background: black;
  position: fixed;
  bottom: 0px; 
  right: 0px; 
  left: 0px; 
  height: 50px; 
  margin-bottom: 0px;
}

img {
  width: 300px;
  padding: 20px;
}
